<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

<Files .env>
    Order allow,deny
    Deny from all
</Files>

php_value memory_limit 256M